/* Main style for patch check tool */

body {
    background-color: #EEE;
    font-family: Verdana;
}

div {
    float: left;
}

span.error_span {
    color: #F33;
}

div#results_div {
    clear: both;
    padding: 32px;
}
div#results_div {
    display: none;
}

table.result_table thead tr.header td {
    font-weight: bold;
    background-color: #CCC;
}
table.result_table thead tr.subheader td {
    font-size: 10px;
    background-color: #F9F9F9;
}
table.result_table, table.result_table td {
    border: 1px solid #888;
    text-align: center;
}
table.result_table {
    display: block;
    float: left;
    margin-right: 40px;
    border-collapse: collapse;
}
td.td_fail {
    background-color: #FFBCBC;
}
td.td_adaptation_required {
    background-color: #FFFF99;
}
td.td_ok {
    background-color: #C9F3C5;
}
td.td_merged {
    background-color: #C899D7;
}

table.result_table tr td {
    padding: 2px 10px;
}


div#legend_container_div {
    display: none;
    width: 100%;
    margin-top: 60px;
}

div#legend_header_div, div#legend_body_div {
    border: 1px solid #BBB;
}

div#legend_header_div {
    background-color: #24292E;
    color: rgba(255,255,255,0.75);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 3px 30px;
    width: 720px;
}

div#legend_header_div:hover {
    color: #FFF;
    cursor: pointer;
}

div#legend_body_div {
    display: none;
    clear: both;
    border-top: 0;
    padding-top: 20px;
    width: 780px;
}

table.legend_table {
    border: 0px;
    margin: 0 20px 20px 20px;
}

table.legend_table td {
    border: 1px solid #BBB;
}

table.legend_table td.description_td {
    font-size: 12px;
    text-align: justify;
    height: 2em;
}

span.fold_icon {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin: 0 0 4px 6px;
    background: url(../image/icon/unfold.png) no-repeat;
    background-size: cover;
    filter: brightness(0.85);
}

.rotate180 {
    transform: rotate(180deg);
}
